<!DOCTYPE html>
<html>
<head><title>Results</title></head>
<h1>Current_Users for Each Affiliation</h1>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

table{
    border-spacing: 15px;
}
</style>   
<body>
<table style="width:100%">
  <tr>
    <th>Affiliation</th>
    <th>Users</th>
  </tr>

 {% for k,v in results.items() %}
  <tr>
    <td>{{k}}</td>
    <td>{{v}}</td>
  </tr>
{% endfor %}
</body> 
</html>
